.slider {
  height: 140px;
  margin: auto;
  position: relative;
  width: 90%;
  display: flex; /* Changed to flex for a smooth continuous loop */
  align-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(
    200px * 18 * 2
  ); /* Adjusted width to twice the number of slides */
  animation: scroll 40s linear infinite;
}

.slide {
  width: 200px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
  cursor: pointer;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 9));
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  font-size: 24px;
  color: #000;
}

.arrow.prev {
  left: 10px;
  padding: 6px;
  border-radius: 8px;
}
.arrow.prev:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
}

.arrow.next {
  right: 10px;
  padding: 6px;
  border-radius: 8px;
}
.arrow.next:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
}
